@import 'reset';

:root {
  --cell-width: calc(100vw / 64);
  --primary-color: #063859;
  --secondary-color: #74bcec;
  --tertiary-color: #c4e0f2;
  --gray-color: #333f46;
  --small-radius: calc(100vw / 64);
  --tiny-radius: calc(25vw / 64);
  --big-radius: calc(200vw / 64);
  --arrow-width: calc(var(--cell-width) * (5 / 20));
}

body {
  background-color: var(--tertiary-color);
  font-family: 'Outfit', sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  color: var(--primary-color);
}
.grid {
  display: grid;
  grid-template-columns: repeat(64, var(--cell-width));
  grid-template-rows: repeat(36, var(--cell-width));
}

h1 {
  grid-area: 3 / 5 / 8 / 35;
  font-size: calc(var(--cell-width) * (59.57 / 20));
  line-height: 70.2%;
  align-self: end;

  a {
    color: var(--primary-color);
    text-decoration: none;
  }

  strong {
    text-transform: uppercase;
    font-size: calc(var(--cell-width) * (68.4 / 20));
    font-weight: 700;
  }
}

h2 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  grid-area: 3 / 2 / 8 / 5;
  justify-self: end;
  font-size: calc(var(--cell-width) * (32.76 / 20));
  font-weight: 700;
  line-height: 42%;
  padding-left: calc(var(--cell-width) * (8 / 20));
  margin-bottom: calc(var(--cell-width) * (-3 / 20));
  text-transform: lowercase;

  strong {
    text-transform: uppercase;
    font-weight: 200;
    font-size: calc(var(--cell-width) * (12.6 / 20));
  }
}
h4 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  grid-area: 29 / 38 / 35 / 41;
  justify-self: start;
  font-size: calc(var(--cell-width) * (54.71 / 20));
  font-weight: 700;
  line-height: 42%;
  padding-left: calc(var(--cell-width) * (8 / 20));
  margin-bottom: calc(var(--cell-width) * (-3 / 20));
  text-transform: lowercase;

  strong {
    text-transform: uppercase;
    font-weight: 200;
    font-size: calc(var(--cell-width) * (22.71 / 20));
  }
}

.main {
  grid-area: 9 / 3 / 35 / 40;
  font-size: calc(var(--cell-width) * (18 / 20));
  overflow: scroll;

  h3 {
    font-weight: 700;
    font-size: calc(var(--cell-width) * (24 / 20));
    margin-top: calc(var(--cell-width) * (16 / 20));
  }
}
ul {
  padding-left: calc(var(--cell-width) * (20 / 20));
}
li {
  list-style-type: disc;
  margin-top: calc(var(--cell-width) * (10 / 20));
}

.qr {
  font-weight: 200;
  grid-area: 29 / 41 / 35 / 47;
}

.site {
  grid-area: 15 / 51 / 35 / 63;
  background-color: var(--gray-color);
  border-radius: var(--small-radius);
  align-self: end;

  &.disney {
    grid-area: 3 / 38 / 25 / 63;
  }
}

.project {
  grid-area: 9 / 3 / 35 / 35;
  display: grid;
  grid-template-columns: repeat(32, var(--cell-width));
  grid-template-rows: repeat(26, var(--cell-width));
  background-color: var(--primary-color);
  border-radius: var(--big-radius);
}
.html {
  grid-area: 3 / 3 / 25 / 15;
  background-color: var(--gray-color);
  border-radius: var(--tiny-radius);
}
.js {
  grid-area: 3 / 19 / 13 / 31;
  background-color: var(--gray-color);
  border-radius: var(--tiny-radius);
}
.css {
  grid-area: 15 / 19 / 25 / 31;
  background-color: var(--gray-color);
  border-radius: var(--tiny-radius);

  &.serie {
    grid-area: 3 / 19 / 25 / 31;
  }
}

.api {
  grid-area: 12 / 39 / 15 / 47;
  font-family: 'Fira Code', monospace;
  color: var(--secondary-color);
  font-size: calc(var(--cell-width) * (55 / 20));
  text-align: center;
  align-self: center;
}

.github {
  grid-area: 17 / 40 / 26 / 47;
  width: 100%;
  height: auto;
  align-self: start;
}
path {
  fill: var(--primary-color);
}

.logo {
  grid-area: 3 / 51 / 12 / 63;

  &.disney {
    grid-area: 26 / 51 / 35 / 63;
    align-self: end;
  }
}

[class^='arrow-'] {
  border-width: calc(var(--cell-width) * (2 / 20));
  border-style: dashed;
  position: relative;
}
[class^='arrow-']::before {
  content: '';
  border-width: 0 var(--arrow-width) var(--arrow-width) 0;
  padding: var(--arrow-width);
  border-style: solid;
  position: absolute;
  display: inline-block;
}
.secondary,
.secondary::before {
  border-color: var(--secondary-color);
}
.primary,
.primary::before {
  border-color: var(--primary-color);
}
.rl {
  justify-self: end;
  width: 10%;
  animation: horizontal 5s ease-out infinite;
}
.rl::before {
  left: calc(var(--arrow-width) * -1);
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}
.lr {
  justify-self: start;
  width: 10%;
  animation: horizontal 5s ease-out infinite;
}
.lr::before {
  right: calc(var(--arrow-width) * -1);
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.tb {
  height: 10%;
  justify-self: center;
  animation: vertical 5s ease-out infinite;
}
.tb::before {
  bottom: calc(var(--arrow-width) * -1);
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.arrow-api-js {
  align-self: center;
  grid-area: 13 / 33 / 14 / 39;
  animation-duration: 1s;
}
.arrow-js-html {
  align-self: end;
  grid-area: 15 / 17 / 16 / 21;
  animation-duration: 2s;
}
.arrow-css-html {
  align-self: end;
  grid-area: 27 / 17 / 28 / 21;
  animation-duration: 4s;

  &.serie {
    grid-area: 21 / 17 / 22 / 21;
    align-self: center;
  }
}
.arrow-site-qr {
  align-self: end;
  grid-area: 31 / 47 / 32 / 51;
  animation-duration: 2s;

  &.disney {
    align-self: start;
    justify-self: end;
    grid-area: 25 / 43 / 28 / 44;
  }
}
.arrow-project-github {
  align-self: center;
  grid-area: 20 / 35 / 21 / 40;
  animation-duration: 10s;

  &.disney {
    grid-area: 15 / 35 / 16 / 38;
  }
}
.arrow-github-site {
  align-self: center;
  grid-area: 20 / 47 / 21 / 51;
  animation-duration: 5s;
}

@keyframes horizontal {
  0% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}
@keyframes vertical {
  0% {
    height: 10%;
  }
  100% {
    height: 100%;
  }
}
